* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.grid-container {
    border-radius: 6;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    box-shadow: 5px 8px rgba(212, 211, 211, 0.2);
}

#item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffffff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#item2 {
    background-color: #2bb3b1;
    padding: 40px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 8px;
}

#item3 {
    background-color: #4abebd;
    padding: 40px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 8px;
}

#heading1 {
    color: #66abb2;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#guarantee {
    color: #c7d678;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

#para1 {
    color: #a7a9aa;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
}

#price {
    font-size: 25px;
    padding: 20px 10px 20px 0px;
    line-height: 50px;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.button {
    text-align: center;
}

#btn1 {
    background-color: #bfdf32;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    width: 90%;
    margin-top: 40px;
    box-shadow: 3px 6px 2px rgba(0,0,0,0.1);
}

#btn1:hover {
    background-color: #b6d333;
    cursor: pointer;
}

#btn1:active {
    font-size: 17px;
}
#Heading2 {
    font-weight: 600;
    padding-bottom: 24px;
}

.pros {
    line-height: 20px;
    font-weight: lighter;
    color: #ebebeb;
    font-size: 14px;
}

 