* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #003566;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.grid-item {
    border-radius: 6px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    height: 150px;
    background-color: #000814;
    box-shadow: 5px 8px 10px rgba(114,76,249,0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    color: #000814;
    font-weight: bolder;
}

.grid-item:hover {
    color: #ffc300;
    cursor: pointer;
}

.noHover{
    pointer-events: none;
}